@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f6;
}

.contenedor-titulo__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

.contenedor-titulo__1 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  border: 1px solid black;
  font-weight: bold;
  background-color: #6c757d;
  width: 80%;
  height: 60%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 5px 1px #000000;
          box-shadow: 0px 0px 5px 1px #000000;
}

.contenedor-titulo__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #171717;
  color: #ffff;
}

.contenedor-titulo__2 h2 {
  font-weight: bold;
}

.z-index__1 {
  z-index: 2;
}

nav {
  opacity: 95%;
  background-color: #6c757d;
}

nav .btn-nav, nav .btn-nav__activo {
  font-size: 1rem;
  color: #ffff !important;
}

nav .btn-nav:hover, nav .btn-nav__activo:hover {
  border-bottom: 1px solid white;
}

nav .btn-nav__activo {
  border-bottom: 2px solid gold;
}

nav .btn-nav__activo:hover {
  border-bottom: 2px solid gold;
}

nav .logo-responsive {
  display: none;
}

nav .logo img {
  border-radius: 100%;
}

nav .nombre-pagina {
  width: 300px;
  position: absolute;
  color: #ffff;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'baumans', cursive;
}

.btn-footer:hover {
  border-bottom: 1px solid black;
}

.btn-footer__activo {
  border-bottom: 2px solid gold;
}

.btn-contactar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-contactar__footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  outline: 3px solid #4895ef;
  background-color: #4895ef;
  color: #ffff;
  font-weight: bold;
}

.btn-contactar__footer a:hover {
  background-color: transparent;
}

.carrusel {
  margin-top: 60px !important;
}

main {
  height: 1250px;
}

main .contenedor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contenedor-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 700px;
}

.section-info .card__index {
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, 0.2);
  -webkit-box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
          box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.section-info .card__index div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
}

.section-info .card__index div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  width: 70%;
  border-bottom: 3px solid #6c757d;
}

.section-info .card__index ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.main__nosotras {
  height: 1700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__nosotras .card__nosotras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  height: 30%;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main__nosotras .card__nosotras img {
  width: 30%;
  height: 95%;
}

.main__nosotras .card__nosotras .perfil {
  width: 50%;
  height: 95%;
}

.main__nosotras .card__nosotras .perfil .nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 10%;
}

.main__nosotras .card__nosotras .perfil .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 90%;
  padding: 0px 50px;
}

.main__nosotras .card__nosotras .contenedor__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  width: 20%;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 24px;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #00bb2d;
  color: #ffff;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp::before {
  margin-left: 20px;
  content: 'Enviar';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp:hover::before {
  content: '';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp div {
  width: 50%;
  height: 100%;
  background-image: url(/img/whatsapp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 50px;
  background-color: #941b0c;
  color: #ffff;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email::before {
  margin-left: 20px;
  content: 'Enviar';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email:hover::before {
  content: '';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email div {
  width: 50%;
  height: 100%;
  background-image: url(/img/gmail.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras .redes__nosotras {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  background-color: red;
}

@media screen and (max-width: 425px) {
  .contenedor-titulo__1 {
    height: 80px;
  }
  .contenedor-titulo__1 h1 {
    font-size: 1.8rem;
  }
  .contenedor-titulo__2 {
    height: 50px;
  }
  .contenedor-titulo__2 h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  nav .nombre-pagina {
    font-size: 1.3rem;
    width: 150px;
  }
}

@media screen and (max-width: 425px) {
  nav .logo-responsive {
    width: 200px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'baumans', cursive;
  }
  nav .logo-responsive img {
    border-radius: 50px;
  }
  nav .logo {
    display: none;
  }
  nav .nombre-pagina {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  main .contenedor-info {
    height: 400px;
  }
  main .contenedor-info img {
    width: 400px;
  }
  main .contenedor-info p {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  main {
    height: 900px;
  }
  main .contenedor-info {
    height: 300px;
  }
  main .contenedor-info img {
    width: 300px;
  }
  main .contenedor-info p {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  main {
    height: 700px;
  }
  main .contenedor-info {
    font-size: 0.66667rem;
    height: 200px;
  }
  main .contenedor-info img {
    width: 150px;
  }
  main .contenedor-info p {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .section-info .card__index {
    width: 400px;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .section-info .card__index {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .section-info {
    height: 1100px;
  }
  .section-info .card__index {
    width: 300px;
  }
  .section-info .card__index p {
    font-size: 1.3rem;
  }
  .section-info .card__index li {
    padding: 0px 10px;
    font-size: 0.90909rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-img {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  footer div {
    padding: 0px !important;
  }
  footer div p {
    font-size: 0.83333rem !important;
  }
  footer div li {
    font-size: 0.66667rem !important;
  }
  footer .btn-contactar__footer a {
    padding: 0px;
    font-size: 0.66667rem;
    height: 25px;
  }
  footer .contenedor-imagen__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .contenedor-imagen__footer .footer-img {
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .main__nosotras .card__nosotras {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .main__nosotras {
    height: 1400px;
  }
  .main__nosotras .card__nosotras {
    width: 90%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
    margin-bottom: 0px;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras .redes__nosotras {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .main__nosotras {
    height: 2100px;
  }
  .main__nosotras .card__nosotras {
    width: 100%;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__nosotras .card__nosotras img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 10px;
  }
  .main__nosotras .card__nosotras .perfil {
    width: 90%;
    height: 50%;
  }
  .main__nosotras .card__nosotras .perfil .nombre {
    margin-top: 10px;
  }
  .main__nosotras .card__nosotras .perfil .informacion {
    padding: 0px 5px;
    margin: 0px;
  }
  .main__nosotras .card__nosotras .contenedor__redes {
    width: 100%;
    height: 10%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras {
    display: none;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
    width: 100%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
    width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */