@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.contenedor-titulo__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

.contenedor-titulo__1 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  border: 1px solid black;
  font-weight: bold;
  background-color: #6c757d;
  width: 80%;
  height: 60%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 5px 1px #000000;
          box-shadow: 0px 0px 5px 1px #000000;
}

.contenedor-titulo__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #0B653Fff;
  color: #ffff;
}

.contenedor-titulo__2 h2 {
  font-weight: bold;
}

.paola-sottili {
  background-image: url(/img/Paola-sottili.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.z-index__1 {
  z-index: 2;
}

nav {
  opacity: 95%;
  padding: 0 !important;
}

nav .btn-nav {
  position: relative;
  font-size: 1rem;
  color: #171717 !important;
  font-weight: bold;
  z-index: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

nav .btn-nav::before {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #0B653Fff;
  height: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

nav .btn-nav:hover {
  color: #ffff !important;
}

nav .btn-nav:hover::before {
  height: 100%;
}

nav .btn-nav__activo {
  color: #171717 !important;
  position: relative;
  font-weight: bold;
}

nav .btn-nav__activo::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #0B653Fff;
  right: 0;
  bottom: 0;
}

nav .logo-responsive {
  display: none;
}

nav .logo {
  width: 227.5px;
  height: 143.5px;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

nav .nombre-pagina {
  width: 300px;
  position: absolute;
  color: #ffff;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'baumans', cursive;
}

.btn-footer, .btn-footer__activo {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: #171717 !important;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-footer::before {
  position: absolute;
  content: '';
  background-color: #0B653Fff;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 50%;
  left: 50%;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-footer:hover::before {
  width: 70%;
  left: 15%;
  right: 15%;
}

.btn-footer__activo::before {
  position: absolute;
  content: '';
  background-color: #0B653Fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  right: 0;
}

.logo-footer {
  -webkit-transition: .4s;
  transition: .4s;
}

.logo-footer:hover {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes logo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.img-carrusel {
  height: 500px;
}

.marketing {
  text-align: center;
}

.marketing h2 {
  font-weight: bold;
}

.card-index {
  width: 190px;
  height: 254px;
  position: relative;
  outline: 0.3em solid #0B653Fff;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-index:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-index:hover .card-info {
  opacity: 0;
}

.card-index .card-info__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #f4f4f6;
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-index .card-info__hover p {
  margin: auto;
  padding: 0 20px;
}

.card-index .card-info__hover a {
  text-decoration: none;
  color: #4895ef;
  margin-bottom: 10px;
  -webkit-transform: 1s;
          transform: 1s;
  font-weight: bold;
}

.card-index:hover .card-info__hover {
  opacity: 100%;
}

.card-info {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1.5em;
  text-align: center;
  -webkit-transition: opacity 0.8s, -webkit-transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: opacity 0.8s, -webkit-transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.8s;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.8s, -webkit-transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-info .title {
  font-size: 1.3em;
  font-weight: bold;
  color: #ffff;
}

.card-info .title::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  margin: 0 auto 4%;
  background-color: #ffff;
}

.card-info .subtitle {
  font-weight: 400;
  line-height: 1em;
  color: #ffff;
}

.main__nosotras {
  height: 1700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__nosotras .card__nosotras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  height: 30%;
  background: #ececec;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main__nosotras .card__nosotras img {
  width: 30%;
  height: 95%;
}

.main__nosotras .card__nosotras .perfil {
  width: 50%;
  height: 95%;
}

.main__nosotras .card__nosotras .perfil .nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 10%;
}

.main__nosotras .card__nosotras .perfil .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 90%;
  padding: 0px 50px;
}

.main__nosotras .card__nosotras .contenedor__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  width: 20%;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 24px;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #00bb2d;
  color: #ffff;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp::before {
  margin-left: 20px;
  content: 'Enviar';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp:hover::before {
  content: '';
  margin-left: 0;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp div {
  width: 50%;
  height: 100%;
  background-image: url(/img/whatsapp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 50px;
  background-color: #941b0c;
  color: #ffff;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email::before {
  margin-left: 20px;
  content: 'Enviar';
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email:hover::before {
  content: '';
  margin-left: 0;
}

.main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email div {
  width: 50%;
  height: 100%;
  background-image: url(/img/gmail.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras .redes__nosotras {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  background-color: red;
}

.main__contacto {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.main__contacto .div-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 300%;
}

.main__contacto .div-contacto .card__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1274px;
  height: 580px;
  border-radius: 20px;
  -webkit-box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
          box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.main__contacto .div-contacto .card__contacto .informacion__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4895ef;
  width: 40%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main__contacto .div-contacto .card__contacto .informacion__contacto p {
  text-align: center;
  font-weight: bold;
  color: #ffff;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto {
  padding: 20px 40px;
  background-color: lightgray;
  width: 60%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .botones__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto {
  font-size: 1.2rem;
  font-weight: bold;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto .input-contacto, .main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto textarea, .main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto select {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto .input-contacto:focus, .main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto textarea:focus, .main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto select:focus {
  border-bottom: 1px solid #4895ef;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto textarea {
  resize: none;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto .label-contacto select {
  width: 50%;
}

.main__contacto .div-contacto .card__contacto .formulario__contacto h1 {
  width: 100%;
  height: 50px;
}

.p-radio {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  nav .nombre-pagina {
    font-size: 1.3rem;
    width: 150px;
  }
}

@media screen and (max-width: 426px) {
  nav .logo-responsive {
    width: 200px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'baumans', cursive;
  }
  nav .logo-responsive img {
    border-radius: 50px;
  }
  nav .logo {
    display: none;
  }
  nav .nombre-pagina {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .section-info .card__index {
    width: 400px;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .section-info .card__index {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .section-info {
    height: 1100px;
  }
  .section-info .card__index {
    width: 300px;
  }
  .section-info .card__index p {
    font-size: 1.3rem;
  }
  .section-info .card__index li {
    padding: 0px 10px;
    font-size: 0.90909rem;
  }
}

@media screen and (min-width: 1440px) {
  footer .footer-img {
    width: 250px;
  }
}

@media screen and (max-width: 425px) {
  footer div {
    padding: 0px !important;
  }
  footer div p {
    font-size: 0.83333rem !important;
  }
  footer div li {
    font-size: 0.66667rem !important;
  }
  footer .btn-contactar__footer a {
    padding: 0px;
    font-size: 0.66667rem;
    height: 25px;
  }
  footer .contenedor-imagen__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .main__nosotras .card__nosotras {
    width: 900px;
    height: 420px;
  }
}

@media screen and (max-width: 1024px) {
  .main__nosotras {
    height: 1400px;
  }
  .main__nosotras .card__nosotras {
    width: 85%;
    height: 360px;
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras {
    margin-bottom: 20px;
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras .redes__nosotras {
    width: 55px;
  }
}

@media screen and (max-width: 768px) {
  .main__nosotras {
    height: 1400px;
  }
  .main__nosotras .card__nosotras {
    width: 95%;
    height: 340px;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
    margin-bottom: 0px;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras .redes__nosotras {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 426px) {
  .main__nosotras {
    height: 2100px;
  }
  .main__nosotras .card__nosotras {
    width: 100%;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__nosotras .card__nosotras img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 10px;
  }
  .main__nosotras .card__nosotras .perfil {
    width: 90%;
    height: 50%;
  }
  .main__nosotras .card__nosotras .perfil .nombre {
    margin-top: 10px;
  }
  .main__nosotras .card__nosotras .perfil .informacion {
    padding: 0px 5px;
    margin: 0px;
  }
  .main__nosotras .card__nosotras .contenedor__redes {
    width: 100%;
    height: 10%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .contenedor-redes__nosotras {
    display: none;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__whatsapp {
    width: 100%;
  }
  .main__nosotras .card__nosotras .contenedor__redes .email-whatsapp .enviar__email {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .main__contacto {
    padding: 0;
  }
  .main__contacto .card__contacto {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .main__contacto {
    height: 1000px;
  }
  .main__contacto .card__contacto {
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__contacto .card__contacto .informacion__contacto {
    border-radius: 0;
    width: 100%;
    height: 25%;
  }
  .main__contacto .card__contacto .formulario__contacto {
    border-radius: 0;
    width: 100%;
    height: 75%;
  }
  .main__contacto .card__contacto .formulario__contacto div label select {
    width: 60%;
  }
}
/*# sourceMappingURL=estilos.css.map */