@media screen and (max-width: 768px) {
    .img-carrusel {
        height: 450px;
    }
    .img-banner1, .img-banner3 {
        width: 100%;
    }
    .p-banner2 {
        p {
            font-size: 1.3rem;
        }
    }
    .p2-banner2 {
        p {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .img-carrusel {
        height: 200px;
    }
    .p-banner2 {
        p {
            font-size: .7rem;
        }
    }
    .p2-banner2 {
        p {
            font-size: .7rem;
        }
    }
}