// -----------------------------------------Mobile--------------------------------------------
@media screen and (max-width: 425px) {

    .contenedor-titulo__1 {
        height: 80px;
        h1{
            font-size: $tamaño-fuente*1.8;
        }
    }
    .contenedor-titulo__2 {
        height: 50px;
        h2 {
            font-size: $tamaño-fuente*1.8;
        }
    }
}