@media screen and (max-width: 768px) {
    .main-index {
        height: max-content;
        .bg-wakemind {
            display: none;
        }
        .icon-wakemind {
            display: block;
        }
        .info-index-valor {
            width: 100%;
        }
    }
}

@media screen and (max-width: 426px) {
    .main-index {
        .h2 {
            font-size: 1rem;
        }
        .lead {
            font-size: .8rem;
        }
    }
}