@media screen and (max-width: 768px) {
    .main-index {
        .bg-wakemind {
            background-position: center;
            background-size: 65%;
        }
    }
}

@media screen and (max-width: 425px) {
    .main-index {
        .h2 {
            font-size: .7rem;
        }
        .lead {
            font-size: .5rem;
        }
        .bg-wakemind {
            background-size: 100%;
        }
        .info-index-valor {
            width: 100%;
            margin-top: 100px;
        }
    }
}