
.img-carrusel {
    height: 550px;
}
.p-banner2 {
    width: 25%;
    left: 0;
    p {
        font-size: 2rem;
        font-weight: bold;
    }
}
.p2-banner2 {
    width: 25%;
    left: 70%;
    p {
        font-size: 2rem;
        font-weight: bold;
    }
}