.main-index {
    border-top: 2px solid $verde-wake;
    text-align: center;
    position: relative;
    height: 650px;

    .bg-wakemind {
        width: 100%;
        height: 550px;
        position: absolute;
        background-image: url(/img/WakeMind.png);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 60%;
        left: 0;
    }
    .contenedor-info-index {
        width: 100%;
        height: 100%;
    }
    .info-index-valor {
        width: 50%;
    }
}