

.rotar-carta{
    transform: rotateY(180deg)!important;
}

.esp-1 {
    animation: especialidad 1s .8s forwards;
}
.esp-2 {
    animation: especialidad 1s 1.2s forwards;
}
.esp-3 {
    animation: especialidad 1s 1.6s forwards;
}
.esp-4 {
    animation: especialidad 1s 2s forwards;
}
.esp-5 {
    animation: especialidad 1s 2.4s forwards;
}

.section-info {
    height: max-content;
    .card-index {
        width: 300px;
        height: 400px;
        position: relative;
        outline: .3em solid $verde-wake;
        border-radius: 5px;
        transition: 1s;
        .card-info__hover {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: rotateY(180deg);
            background-color: $gris-claro;
            position: absolute;
            transition: 1s .5s;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            ul {
                margin: auto;
                .especialidad {
                    font-weight: bold;
                    padding: 5px 0;
                    list-style-type: square;
                    opacity: 0;
                }
            }
        }
    }
}
.card-info {
 bottom: 0;
 position: absolute;
 width: 100%;
 padding: 1.5em;
 text-align: center;
 transition: transform 1s, opacity .8s;
    .title {
     font-size: 1.3em;
     font-weight: bold;
     color: $blanco;
     &::after {
         content: "";
         display: block;
         width: 50%;
         height: 2px;
         margin: 0 auto 4%;
         background-color: $blanco;
        }
    }
    .subtitle {
     font-weight: 400;
     line-height: 1em;
     color: $blanco;
    }
}