@media screen and (max-width: 769px) {
    .main__contacto {
        padding: 0;
        .card__contacto {
            width: 100%;
            height: 500px;
        }
    }
}

@media screen and (max-width:425px) {
    .main__contacto {
        height: 1000px;
        .card__contacto {
            height: 800px;
            flex-direction: column;
            .informacion__contacto {
                border-radius: 0;
                width: 100%;
                height: 25%;
            }
            .formulario__contacto {
                border-radius: 0;
                width: 100%;
                height: 75%;
            }
        }
    }   
}