@media screen and (max-width: 769px) {
    .main__contacto {
        padding: 0;
        .informacion__contacto {
            .enviar__email {
                transform: scale(75%);
            }
            .enviar__whatsapp {
                transform: scale(75%);
            }
            .enviar__instagram {
                transform: scale(75%);
            }
        }
        .card__contacto {
            width: 100%;
            .formulario__contacto {
                padding: 10px 20px;
            }
        }
    }
}

@media screen and (max-width:426px) {
    .main__contacto {
        height: max-content;
        .card__contacto {
            height: 100%;
            flex-direction: column;
            .informacion__contacto {
                border-right: none;
                border-bottom: 5px solid $verde-wake;
                border-radius: 0;
                width: 100%;
                height: 25%;
            }
            .formulario__contacto {
                border-radius: 0;
                width: 100%;
                height: 75%;
                div {
                    label {
                        select {
                            width: 60%;
                        }
                    }
                }
            }
        }
        .card-contacto__turno { 
            flex-direction: column;
            .turno {
                height: 50%;
            }
            .informacion__contacto {
                border-right: none;
                border-bottom: 5px solid $verde-wake;
                border-radius: 0;
                width: 100%;
                height: 50%;
            }
        }
    }   
}