.body-loader {
    overflow: hidden;
}
.slow-loader {
    opacity: 0;
    pointer-events: none;
}
.spinner-contacto {
    background-color: $blanco;
    z-index: 9999;
}
#spinner-incompleto {
    div {
        background-size: cover;
        width: 150px;
        height: 150px;
    }
    .spinner-logo__incompleto {
        animation: logo 1s linear infinite;
        background-image: url(/img/IconWakeMind.png);
    }
    .spinner-logo__completo {
        background-image: url(/img/comprobado.png);
    }
    .spinner-logo__rechazado {
        background-image: url(/img/cancelar.png);
    }
}
.main__contacto {
    z-index: 1;
    width: 100%;
    height: max-content;
    position: relative;
    .card__contacto {
        @include flexbox-center;
        width: 100%;
        height: 580px;
        border-radius: 20px;
        box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #bebebe;
        z-index: 0;
        .formulario__contacto {
            padding: 20px 40px;
            background-color: $gris-claro;
            width: 60%;
            height: 100%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            .botones__formulario {
                display: flex;
                justify-content: end;
                gap: 20px;
            }
            .label-contacto {
                font-size: $tamaño-fuente*1.2;
                font-weight: bold;
            }
            .input-contacto {
                width: 100%;
                height: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid gray;
                &:focus {
                    border-bottom: 1px solid $azul;
                }
            }
            textarea {
                @extend .input-contacto;
                resize: none;
            }
            select {
                @extend .input-contacto;
                width: 100%;
            }
            h1 {
                width: 100%;
                height: 50px;
            }
        }
    }
    .card-contacto__turno {
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        background-color: $gris-claro;
        box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #bebebe;
        .turnos {
            width: 80%;
            .formulario-turno {
                @include flexbox-center;
                flex-direction: column;
                width: max-content;
                .label-turno {
                    font-weight: bold;
                    font-size: $tamaño-fuente*1.2;
                    .input-turno {
                        margin: auto;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $gris;
                        width: max-content;
                        display: block;
                        &:focus {
                            outline: none;
                            border-bottom: 1px solid $azul;
                        }
                    }
                    textarea {
                        @extend .input-turno;
                        height: 30px;
                        resize: none;
                    }
                }
            }
        }
    }
}
.informacion__contacto {
    @include flexbox-center;
    background-color: $gris-claro;
    flex-direction: column;
    border-right: 5px solid $verde-wake;
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    p {
        text-align: center;
        font-weight: bold;
        color: $negro-claro;
    }
}
.p-radio {
    font-size: $tamaño-fuente*1.2;
}
.aparecer {
    animation: aparecer forwards 1.5s;
    pointer-events: all!important;
}
.desaparecer {
    animation: desaparecer forwards 1s;
    pointer-events: none!important;
}
@keyframes desaparecer {
    to {
        opacity: 0;
    }
}

@keyframes aparecer {
    to {
        opacity: 100%;
    }
}