@media screen and (min-width: 1440px) {
    .main__nosotras {
        .card__nosotras {
            width: 900px;
            height: 420px;
        }
    }
}


@media screen and (max-width: 1024px){
    .main__nosotras {
        height: 1400px;
        .card__nosotras {
            width: 85%;
            height: 360px;
            .contenedor__redes {
                .contenedor-redes__nosotras {
                    margin-bottom: 20px;
                    .redes__nosotras {
                        width: 55px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .main__nosotras {
        height: 1400px;
        .card__nosotras {
            width: 95%;
            height: 340px;
            .contenedor__redes {
                .email-whatsapp {
                    margin-bottom: 0px;
                    .enviar__whatsapp {
                        transform: scale(80%);
                    }
                    .enviar__email {
                        transform: scale(80%);
                    }
                }
                .contenedor-redes__nosotras {
                    .redes__nosotras {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .main__nosotras {
        height: 2100px;
        .card__nosotras {
            width: 100%;
            height: 600px;
            flex-direction: column;
            img {
                @include flexbox-center;
                width: 200px;
                height: 300px;
                margin-top: 10px;
            }
            .perfil {
                width: 90%;
                height: 50%;
                .nombre {
                    margin-top: 10px;
                }
                .informacion {
                    padding: 0px 5px;
                    margin: 0px;
                }
            }
            .contenedor__redes {
                width: 100%;
                height: 10%;
                .contenedor-redes__nosotras {
                    display: none;
                }
                .email-whatsapp {
                    @include flexbox-center;
                    flex-direction: row;
                    width: 100%;
                    .enviar__whatsapp {
                        width: 100%;
                    }
                    .enviar__email {
                        width: 100%;
                    }
                }
            }
        }
    }
}