// ---------------------------------------------Variables-----------------------------------------------

$blanco: #ffff;
$tamaño-fuente: 1rem;
$gris: #6c757d;
$gris-claro: #f4f4f6;
$negro-claro: #171717;
$azul: #4895ef;
$verde__whatsapp: #00bb2d;
$verde-wake: #0B653Fff;
$bordo: #941b0c;

// Animaciones

@keyframes logo {
    to {
        transform: rotate(360deg);
    }
}

@keyframes especialidad {
    to {
        opacity: 100%;
    }
}

// ---------------------------------------------Mixin´s-------------------------------------------------
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexbox-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin flexbox-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexbox-start {
    display: flex;
    justify-content: space-start;
    align-items: center;
}
// ---------------------------------------------General-------------------------------------------------
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}

.contenedor-titulo__1 {
    @include flexbox-center;
    height: 100px;
    width: 100%;
    h1 {
        @include flexbox-center;
        color: $blanco;
        border: 1px solid black;
        font-weight: bold;
        background-color: $gris;
        width: 80%;
        height: 60%;
        border-radius: 50px;
        box-shadow: 0px 0px 5px 1px #000000;
    }
}
.contenedor-titulo__2 {
    @include flexbox-center;
    height: 60px;
    background-color: $verde-wake;
    color: $blanco;
    h2 {
        font-weight: bold;
    }
}
.paola-sottili {
    background-image: url(/img/Chicas/PaolaSottili2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F7F7F7ff;
}
.sol-monti {
    background-image: url(/img/Chicas/SolMonti.jpeg);
    background-position: center;
    background-size: cover;
}
.barbara-moreno {
    background-image: url(/img/Chicas/BarbaraMoreno.jpeg);
    background-position: center;
    background-size: cover;
}
.bg-verdeWake {
    background-color: $verde-wake;
    color: $blanco;
}
.text-verdeWake {
    color: $verde-wake;
    font-weight: bold;
    border-bottom: 2px solid $verde-wake;
}
.r-0 {
    right: 0;
}
.l-5 {
    left: 7%;
}
.l-0 {
    left: 0;
}
.email-whatsapp {
    .enviar__instagram {
        @include flexbox-center;
        width: 100px;
        height: 50px;
        background-color: $negro-claro;
        color: $blanco;
        div {
            width: 50%;
            height: 100%;
            background-image: url(/img/instagram.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .enviar__whatsapp {
        @include flexbox-center;
        width: 100px;
        height: 50px;
        background-color: $negro-claro;
        color: $blanco;
        div {
            width: 50%;
            height: 100%;
            background-image: url(/img/whatsapp.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .enviar__email {
        @include flexbox-center;
        width: 100px;
        height: 50px;
        background-color: $negro-claro;
        color: $blanco;
        div {
            width: 50%;
            height: 100%;
            background-image: url(/img/gmail.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
.icon-wakemind {
    background-image: url(/img/IconWakeMind.png);
    background-size: cover;
    width: 64px;
    height: 64px;
    display: none;
}