// Animaciones

@keyframes btnNav1 {
    from {
        transform: translateY(-100px);
    }
}

// Navbar

nav {
    opacity: 95%;
    padding: 0!important;
    .contenedor-logo {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        .logo {
            width: 40%;
        }
        .WakeMind {
            width: 100%;
        }
        &:hover .logo {
            animation: logo 1s;
        }
    }
    .btn-nav {
        position: relative;
        font-size: $tamaño-fuente;
        color: $negro-claro!important;
        font-weight: bold;
        z-index: 1;
        transition: 0.8s;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            background-color: $verde-wake;
            height: 0;
            z-index: -1;
            right: 0;
            bottom: 0;
            transition: 0.8s;
        }
        &:hover {
            color: $blanco!important;
        }
        &:hover::before {
            height: 100%;
        }
    }
    .btn-nav__activo {
        color: $negro-claro!important;
        position: relative;
        font-weight: bold;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $verde-wake;
            right: 0;
            bottom: 0;
        }
    }
}
.btnNav1 {
    animation: btnNav1 forwards 1s;
}
.btnNav2 {
    animation: btnNav1 forwards 1.50s;
}
.btnNav3 {
    animation: btnNav1 forwards 2s;
}
.btnNav4 {
    animation: btnNav1 forwards 2.50s;
}
.btnNav5 {
    animation: btnNav1 forwards 3s;
    z-index: 2;
}