@media screen and (max-width: 426px) {
    .contenedor-titulo__2 {
        @include flexbox-center;
        height: 35px;
        background-color: $verde-wake;
        color: $blanco;
        h2 {
            font-weight: bold;
            font-size: 1.7rem;
        }
    }
    .enviar__instagram {
        transform:scale(75%);
    }
    .enviar__whatsapp {
        transform:scale(75%);
    }
    .enviar__email {
        transform:scale(75%);
    }
}