@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        .contenedor-logo {
            width: 200px;
        }
    }
}

@media screen and (max-width: 426px) {
    body {
        overflow-x: hidden;
    }
    nav {
        .contenedor-logo {
            width: max-content;
            flex-direction: row;
            .logo {
                width: 50px;
            }
            .WakeMind {
                width: 110px;
            }
        }
    }
}